<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<link rel="stylesheet" href="/css/add.css"/>


<style>
    .login-form-1{
    margin-top:3rem;
    margin-bottom:5rem;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius:3rem;
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
 .login-form{
          background:#1a11117a;
          margin-top: 50px;
          margin-bottom: 50px;
          padding: 80px;
          border-radius: 50px;
          color: white;
          box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.80);
        }

body{
   background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(/images/sharr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.form {
  background:  #ffffff;
  border-radius:  3rem;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.12);
  opacity:0.95;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

@keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }




</style>

<body>
<div th:replace="common/header :: navbar"/>
<!--Container-->
<div class="container-fluid px-10">

    <div class="row no-gutters">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
<!--            <div class="form">-->
                <div class="login-form">
                    <form class="form-horizontal" th:action="@{/location/add}" method="post"
                          enctype="multipart/form-data">
                        <fieldset>
                            <legend class="center-block"
                                    style="font-size:34px; text-shadow: 2px 2px 4px #000; text-align:center; margin-bottom:.3rem; color:rgba(244, 98, 58, 0.9);"> New
                                Attraction
                            </legend>
                            <hr class="hr"/>
                            <!--             Location Name-->
                            <div class="row">
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label class="control-label" for="name">Location Name</label>
                                        <input type="text" class="form-control form-control-sm" id="name" name="name"
                                               th:value="${location.name}"
                                               required="required" placeholder="Enter name"/>
<!--                                        <small id="nameHelp" class="text-danger">-->
<!--                                            Name of the tourist location.-->
<!--                                        </small>-->
                                    </div>
                                </div>
                                <!--             Location Address-->
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label for="address">Location Address</label>
                                        <input type="text" class="form-control form-control-sm" id="address"
                                               name="address"
                                               th:value="${location.address}"
                                               required="required" placeholder="Enter address"/>
<!--                                        <small id="addressHelp" class="text-danger">-->
<!--                                            Address of the tourist location.-->
<!--                                        </small>-->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--         Municipality of the location-->
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label for="municipality">Location Municipality</label>
                                        <input type="text" class="form-control form-control-sm" id="municipality"
                                               name="municipality" th:value="${location.municipality}"
                                               required="required" placeholder="Enter municipality"/>
<!--                                        <small id="addressMunicipality" class="text-danger">-->
<!--                                            The municipality of the tourist location.-->
<!--                                        </small>-->
                                    </div>
                                </div>
                                <!--             Location booking price-->
                                <div class="col">
                                    <div class="md-form mt-0">
                                        <label for="price">Booking price</label>
                                        <input type="number" class="form-control form-control-sm" id="price"
                                               name="bookingPrice"
                                               th:value="${location.bookingPrice}"
                                               required="required" placeholder="Enter booking price"/>
                                    </div>
                                </div>
                            </div>
                            <!--                Description of the location-->
                            <div class="form-group md-form md-outline">
                                <label for="description">Description</label>
                                <textarea rows="5" class="form-control form-control-sm" id="description"
                                          name="description" th:value="${location.description}"
                                          required="required" placeholder="Enter the description."></textarea>

                            </div>

                            <div class="row">
                                <!--             Tickets for the location-->
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label for="nrOfTickets">Number of tickets</label>
                                        <input type="number" class="form-control form-control-sm" id="nrOfTickets"
                                               name="nrOfTickets" th:value="${location.nrOfTickets}"
                                               required="required" placeholder="Enter the tickets number."/>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <!--                  upload image-->
                                    <div class="form-group rmd-form md-outline">
                                        <label for="locationImage">Location picture</label>
                                        <input type="file" class="form-control-file" id="locationImage"
                                               name="locationImage"
                                               th:value="${location.locationImage}">
                                    </div>
                                </div>

                                <div class="col">
                                    <!--                  upload image-->
                                    <div class="form-group rmd-form md-outline">
                                        <label for="locationImage1">Location picture 1</label>
                                        <input type="file" class="form-control-file" id="locationImage1"
                                               name="locationImage1"
                                               th:value="${location.locationImage1}">
                                    </div>
                                </div>

                                <div class="col">
                                    <!--                  upload image-->
                                    <div class="form-group rmd-form md-outline">
                                        <label for="locationImage2">Location picture 2</label>
                                        <input type="file" class="form-control-file" id="locationImage2"
                                               name="locationImage2"
                                               th:value="${location.locationImage2}">
                                    </div>
                                </div>

                                <div class="col">
                                    <!--                  upload image-->
                                    <div class="form-group rmd-form md-outline">
                                        <label for="locationImage3">Location picture 3</label>
                                        <input type="file" class="form-control-file" id="locationImage3"
                                               name="locationImage3"
                                               th:value="${location.locationImage3}">
                                    </div>
                                </div>

                                <div class="col">
                                    <!--                  upload image-->
                                    <div class="form-group rmd-form md-outline">
                                        <label for="locationImage4">Location picture 4</label>
                                        <input type="file" class="form-control-file" id="locationImage4"
                                               name="locationImage4"
                                               th:value="${location.locationImage4}">
                                    </div>
                                </div>
                            </div>

                            <hr class="hr"/>
                            <div class="form-group row justify-content-center">
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;">Add Location
                                </button>
                                <br/>
                                <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
<!--            </div>-->
        </div>
    </div>
</div>
<!--        <hr  style="color:#adadad;"/>-->

<!-- Site footer -->
<div th:replace="common/header :: footer"/>

<!-- Bootstrap core JavaScript
================================================== -->
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>