body {
font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}
.card {display:inline-block;}




table.dataTable{border-collapse:separate !important;}

      .dataTables_length label{
            margin-top: 15px;
            display: inline-flex;
            /*width: 200px;*/
        }
        .dataTables_length label select{
            margin-left: 20px;
            margin-right: 20px;
        }
        .dataTables_length{
            margin-left:20px;
            margin-right:20px;

        }
        .dataTables_wrapper {
            display: flex;
            flex-wrap: wrap;

        }
        .dt-buttons{
            padding-top:10px;
            padding-bottom:10px;
            flex-wrap: wrap;
        }
        .dataTables_filter{
        	margin-top: 12px;
        }


.c2 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/images/pej1.jpg);
  background-size: cover;
  width:100%;
 margin-bottom:30px;
  margin-top:3rem;
<!--  margin: 5px 0 0 20px;-->
}

.top h2,h3 {
  color: white;
  padding: 5px;
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
   font-style: normal;
   font-variant: normal;
   font-weight: 100;
}

.cut-text {
overflow: hidden;
width:auto;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif; font-size:18px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.h2{
margin-top:30px;}

.h3{
font-family: "Brush Script MT", cursive;
font-size:29px;
color:black;
text-decoration: underline rgba(244, 98, 58, 0.9);
}

.it{
margin-top:10px;
text-align:center;
padding:2rem;
text-shadow: 2px 2px 4px #000;
color:rgba(244, 98, 58, 0.9);
}

.search{
font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
border:1px solid #D2D2D2;
-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.table{

border-collapse: separate;
border-spacing:0 20px;
}

.th{
font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
background-color:#E8E8E8;
font-size:35px;
font-weight:lighter;
text-decoration:underline #DFA700;}

.h4{
font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;}

.span{
color:darkred; font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif; font-size:20px;}

.mar{
margin-top:3em;}

.dd{
margin-top:.5rem; font-weight:bold; font-size:x-large; font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;}

.sign{
font-size:x-large;
color: #ef5734; margin-left:3px;
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;}

.ss{
font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
color: #ef5734;
}

.div2{
margin-top:2.6rem; margin-left:1rem;}

.aa{
border-radius:7rem;
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
font-size:18px;
background-color: #fc5296;
background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);

}

.i{
margin-left:-3px;}

.location-item{
border-top-right-radius:10%;
border-bottom-left-radius:10%;
}
.ima{
border-radius:1.5rem;
}

@media (max-width: 768px) {
 .list-group{
  width:70%;
 }
 .dd{
 margin-left:8rem;
}
}



