.img1{border-radius:40%;}
.shp{color:rgba(244, 98, 58, 0.9);}
.full{
height:100%;
}
.colorrrr{
color:rgba(244, 98, 58, 0.9);
}
.btn1111{
background:rgba(244, 98, 58, 0.9);
}

@media (max-width: 768px) {
 .c1{
 text-align:center;}
 .c2{
 margin-bottom:1rem;}
 .p1{
 text-align:center;}
 .b1{
 margin-bottom:16px;}
}