.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 3 rgba(0, 0, 0, 0.15), 0 9px 26px 0 rgba(0, 0, 0, 0.20);
    border-radius:1rem;
    opacity:0.90;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.gray-bg {
background:white;
border:1px solid #f0f0f0;
width:90%;
margin-top:1rem;
font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.bg {
  /* The image used */
   background:
      linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url(/images/nn.jpg);
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Full height */
  width:100%;
  height:180px;
 margin-top:3.5rem;
  /* Center and scale the image nicely */

}

.hr{
width:100%;
background-color:white;
}

.deta{
margin-top:5rem;
font-family: Papyrus, fantasy;
text-shadow: 2px 2px 4px #000000;
}

.container1{
margin-top:10px;
}

.but-font{
font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
margin-top:15px;
border-radius:2rem;
}

.row1{
 margin-top:-4rem;
}

.ff{
font-size:20px;
color:rgba(244, 98, 58, 0.9);
}

b1{
color:rgba(244, 98, 58, 0.9);
}

.bd{
border-bottom-left-radius:30%;
border-bottom-right-radius:30%;
border-width:2px;
-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
 	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
 	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.aa{
font-family:'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
}

.n1{
margin-right:1rem;
color:rgba(244, 98, 58, 0.9);
}
.n2{
border-color:rgba(244, 98, 58, 0.9);
}

.ic{
margin-right:5px;margin-left:4px;
color:rgba(244, 98, 58, 0.9);
}

.bon{
font-size: 1em; border-radius:4rem; width:100%;
padding:1rem;
font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
background:rgba(244, 98, 58, 0.9);
}

.locSuccess{
font-family: Aclonica; font-size:20px; color:#228B22;
}

.row2{
margin-top:60px;}

.imagee{
margin:5px;
border-bottom-left-radius:10%;
-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}
.destination-list{
border-radius:1rem;
-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}


.pala{
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.pala1{
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
font-size:24px;
font-weight:light;}

.format{
font-size:20px; color:#db3208; font-family: 'Merienda One';}

.euro{
font-size:18px;color:#db3208; font-family: 'Merienda One';}

.hr1{
margin-top:50px;
background-color:rgba(244, 98, 58, 0.9);}

.pay{
margin-bottom:10px;
margin-bottom:3px;\
color: #191970;
font-weight:bold; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
font-size:16px;
}
.pay1{
-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
 	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
 	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);}

.tt{
color: rgba(0, 0, 0, 0.5);
font-style: italic;}

.a1{
border-radius:3rem;
text-decoration: underline rgba(244, 98, 58, 0.9);
color:rgba(244, 98, 58, 0.9);
font-size:18px;
font-weight:600;}

@media (max-width: 768px) {

 .pala{
  text-align:center;
 }
 .aa{
 text-align:left;
 }
 .d1{
 width:100%;
 margin-left:1.5rem;
 margin-top:1rem;}
 .bon{
 margin-top:10px;}
 .co1{
 margin-left:1rem;}
 .co2{
  margin-left:1rem;}
}


.container2{
display:flex;
}
.box1{
margin-right:3rem;
background:#fefff0;
box-shadow:5px 5px 10px #666660, -5px -5px 10px #fffefe;
}
.card1{
border-bottom-left-radius:30%;
border-top-right-radius:30%;
}
.d1{
width:100%;

}
