.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15), 0 9px 26px 0 rgba(0, 0, 0, 0.20);
    border-radius:1rem;
    opacity:0.90;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: .7rem;
    border: none;
    cursor: pointer;
 background-color: #20bf55;
 background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);


}
.login-form-1 .btnSubmit{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}


  .tab-content {
  margin-bottom:3rem;
  //min-height: 30rem;
 // min-width: 55rem;
}

.nav-tabs-wrapper {
    display: block;
    overflow: hidden;
    height: calc(1.5rem + 1rem + 2px); /** 1.5 is font-size, 1 is padding top and bottom, 2 is border width top and bottom */
    position: relative;
    z-index: 1;
    margin-bottom: -5px;
    .nav-tabs {
        overflow-x: auto;
        flex-wrap: nowrap;
        border-bottom: 0;
    }
    .nav-item {
        margin-bottom: 0;
        &:first-child {
            padding-left: 15px;
        }
        &:last-child {
            padding-right: 15px;
        }
    }
    .nav-link {
        white-space: nowrap;
    }
    .dragscroll:active,
    .dragscroll:active a {
        cursor: -webkit-grabbing;
    }
}

.nav-tabs-wrapper-border {
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
}

.tab-pane {
    padding: 1rem;
}

 body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/images/gjeravica.jpg);

  background-size: cover;
  background-attachment:fixed;
  // linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%)
  }

.container-fluid{
width:95%; margin-bottom:4rem; margin-top:5rem;}

.span1{
font-size:1em;
font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
color:rgba(244, 98, 58, 0.9);
//font-weight:bold;}

li > a:active{
color:black;
}

.rounded{
border-radius:2rem;}

.card1{
background-color:#ededed;}

.div{
text-align:center; color: #0062cc;}

.la{
color:#0062cc;}

.img1{
border-radius:4rem; margin-top:1rem;}

.login{
text-align:center;
 color:#42378f;}

.mix{
color:#42378f;}

.ll{
width:40%; border-radius:1rem;
background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);}

.img2{
border-radius:4rem;}

.fp{text-align:center; color:#B33A3A;
}
.btn2{
width:40%; border-radius:1rem;
background-color: #990000;
background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);}







